---
layout: default
---
{% include head.html %}
{% include header.html %}
<main class="content" role="main">

  <article class="post">
	 {% assign counter = 0 %}
	 {% for post in site.tags[page.tag] %}
	   {% assign counter = counter | plus: 1 %}
	 {% endfor %}
	<div class="post-meta">
	  <h3>All tags:</h3>
		{% for tag in site.tags %}
			<i class="fa fa-tag"></i>  
			<a href="/tag/{{tag | first}}" itemprop="url">{{tag | first}} ({{tag | last | size}})</a>&nbsp;
		{% endfor %}
		<br><br>
	</div>
	<div class="cf frame">
		<h2>All entries posted in: "{{page.tag}}" ({{ counter }})*:</h2>
	<ul>{% for post in site.tags[page.tag] %}
	  <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
		<li><h3 class="post-title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h3>
		<div class="post-meta">
		  <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>&nbsp;
		</li></div>

	  </article>
	{% endfor %}</ul>
	</div>
	<div class="post-content">
		<br><h6><em>*Tag name inspiration: {{ page.title }}</em></h6>
	</div>
  </article>

</main>
